---
import Pattern from "@/components/ui/pattern.astro";
import PageLayout from "@/layouts/page-layout.astro";
import Box from "@/components/box/index.astro";
import BoxTitle from "@/components/box/title.astro";
import BoxHeader from "@/components/box/header.astro";
import ArticleItem from "@/components/article-item.astro";
import type { BlogCollection } from "@/content.config";
import { getCollection } from "astro:content";

interface Props {
  category: string;
  title: string;
  baseLink: string;
  articlesTitle: string;
  description: string;
  collectionName: BlogCollection;
}

const {
  category,
  title,
  articlesTitle,
  baseLink,
  description,
  collectionName,
} = Astro.props;

const articles = await getCollection(collectionName);
const categoryArticles = articles.filter(
  article => article.data.category === category
);
---

<PageLayout backLink={baseLink} description={description} title={title}>
  <Pattern />

  <Box>
    <BoxHeader>
      <BoxTitle>{articlesTitle}</BoxTitle>
    </BoxHeader>
    <div
      class="flex w-full flex-col items-start justify-start divide-y divide-border"
    >
      {categoryArticles.map(article => <ArticleItem article={article} />)}
    </div>
  </Box>
</PageLayout>
